<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Home Consultas</title>
  </head>
  <body>
    <nav>
      <div><img class="logo" src="/img/logo.jpg" alt="logo" /></div>
      <div class="main">
        <div><a href="/home">Home</a></div>
        <div><a href="/Listar">Listar Usuarios</a></div>
        <div><a href="/mostrarprod5">Productos Menores a 5 unidades</a></div>
        <div><a href="/mostrarproddesc">Productos con 10% de descuento</a></div>
        <div><a href="/mostrarprodcomprados">Productos comprados</a></div>
        <div><a href="/prodstock">Stock de Productos</a></div>
      </div>
    </nav>

    <div class="content">
      <div class="title"><p>CONSULTAS A MYSQL</p></div>

      <div class="layouts">
          <div class="element-layout">
            <div><p>Eficacia de la Consulta</p></div>
            <ul>
              <li>Ejecucion del Servidor</li>
              <li>Uso de NodeJS</li>
              <li>Servidor Express</li>
              <li>HTML5</li>
            </ul>
        </div>
        <div class="element-layout">
          <div><p>Eficacia de la Consulta</p></div>
            <ul>
              <li>Ejecucion del Servidor</li>
              <li>Uso de NodeJS</li>
              <li>Servidor Express</li>
              <li>HTML5</li>
            </ul>
          </div>
        <div class="element-layout">
          <div><p>Eficacia de la Consulta</p></div>
            <ul>
              <li>Ejecucion del Servidor</li>
              <li>Uso de NodeJS</li>
              <li>Servidor Express</li>
              <li>HTML5</li>
            </ul>
          </div>
        <div class="element-layout">
          <div><p>Eficacia de la Consulta</p></div>
            <ul>
              <li>Ejecucion del Servidor</li>
              <li>Uso de NodeJS</li>
              <li>Servidor Express</li>
              <li>HTML5</li>
            </ul>
          </div>
      </div>
      </div>
  </body>
</html>
