* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #000;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.topbar {
    width: 100%;
    height: 100px;
}

.toplogo {
    position: absolute;
    top: 1em;
    width: 300px;
}

#navbar {
    overflow: hidden;
    background-color: rgb(255, 111, 0);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    transition-property: opacity, left, top, height;
    transition-duration: 3s, 5s, 3s, 5s;
}

#navbar a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

#navbar a:hover {
    background-color: #ddd;
    color: black;
}

#navbar a.active {
    background-color: #666563;
    color: white;
    cursor: pointer;
}

#navbar a.active:hover {
    background-color: rgb(255, 102, 0);
}

.content {
    padding: 16px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 30;
}

.sticky+.content {
    padding-top: 60px;
}

.searchbar {
    position: absolute;
    top: 2em;
    right: 0.5em;
}

.searchbar a {
    border-radius: 5px;
    padding: 1em;
}

.searchbar a:hover,
.searchbar a span:hover {
    background: rgb(255, 102, 0);
    color: white;
}

.searchbar a span {
    margin-left: 1em;
}


/* Controles */

.accesos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 600px;
}

.accesos a div {
    display: flex;
    border: 5px rgb(255, 111, 0) solid;
    border-radius: 30px;
    width: 200px;
    height: 200px;
    justify-self: center;
    margin: 2em;
}

.accesos a {
    text-align: center;
}

.accesos a div span {
    margin: 20px auto;
    text-align: center;
    font-size: 7em;
    color: rgb(255, 111, 0);
}

.accesos a div span:hover {
    color: rgb(30, 148, 50);
}


/* Scrollbar  */

*::-webkit-scrollbar {
    -webkit-appearance: none;
}

*::-webkit-scrollbar:vertical {
    width: 10px;
}

*::-webkit-scrollbar-button:increment,
*::-webkit-scrollbar-button {
    display: none;
}

*::-webkit-scrollbar-thumb:active {
    background: rgb(145, 145, 145);
}

*::-webkit-scrollbar:horizontal {
    height: 10px;
}

*::-webkit-scrollbar-thumb {
    background-color: #bdbdbd;
    border-radius: 20px;
    border: 1px solid #f1f2f3;
}

*::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(191, 191, 191, 0.446);
}


/* Foooter */

.footerbar {
    display: grid;
    grid-template-rows: 400px 400px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
    background-color: rgb(255, 102, 0);
    margin-top: 20em;
    height: 400px;
}

.p1 {
    color: white;
    font-size: 1.5em;
}

.flogo {
    margin-bottom: 2em;
}

.fg1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fg1 p {
    color: white;
    text-align: center;
}

.fg2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 1px gray solid;
    border-left: 1px gray solid;
}

.fg2 p {
    color: white;
    font-size: 1.5em;
    margin-bottom: 1em;
}

.fg2 div {
    display: flex;
    flex-direction: column;
}

.fg2 div a {
    margin-top: 1em;
    color: white;
}

.ico {
    color: white;
    font-size: 1.5em;
    margin-right: 1em;
}

.fg3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fg3 p {
    color: white;
    font-size: 1.5em;
    margin-bottom: 1em;
}

.fg3 div {
    display: flex;
    flex-direction: column;
    padding: 1em;
    background: white;
    border-radius: 5px;
}

.fg3 div a {
    margin-top: 1em;
    color: rgb(0, 0, 0);
}

.fg3 div a:hover {
    text-decoration: underline;
}

.ico2 {
    font-size: 1.5em;
    margin-right: 1em;
}