* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #000;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: url(/img/ropatienda.png);
    background-repeat: repeat;
    background-attachment: fixed;
}

#navbar {
    overflow: hidden;
    background-color: rgb(56, 56, 56);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    transition-property: opacity, left, top, height;
    transition-duration: 3s, 5s, 3s, 5s;
}

#navbar a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

#navbar a:hover {
    background-color: #ddd;
    color: black;
}

#navbar a.active {
    background-color: #666563;
    color: white;
    cursor: pointer;
}

#navbar a.active:hover {
    background-color: rgb(255, 102, 0);
}

.content {
    padding: 16px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 30;
}

.sticky+.content {
    padding-top: 60px;
}

#logo {
    display: block;
    position: fixed;
    font-size: 3em;
    left: 0.5em;
    top: 1.5em;
}

.lg,
.flogo {
    width: 100px;
    height: 100px;
}

#logo {
    z-index: -10;
}


/* Imagen Splash */

.splash {
    background: rgba(0, 0, 0, 0.775);
    border-bottom: 10px rgb(255, 102, 0) solid;
    height: 350px;
    z-index: 10;
}

.selogo {
    position: absolute;
    top: 8em;
}

.selogo img {
    width: 800px;
}


/* Contenido */

.cont2 {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.782);
}

.sib {
    text-align: center;
    font-size: 4em;
    margin: 5em 0 2em 0;
    display: block;
}

.categoria {
    display: flex;
    border: 3px rgb(84, 196, 84) solid;
    border-radius: 50px;
    margin: 2em;
    width: 200px;
    height: 200px;
    justify-content: center;
    text-align: center;
}

.categoria div {
    color: white;
}

.cont2 a div img {
    width: 100px;
    margin: 2em 1em;
}

.titlecont2 {
    background-color: rgba(0, 0, 0, 0.782);
    margin-bottom: -8em;
}

.titlecont2 p {
    color: white;
}


/* Foooter */

.footerbar {
    display: grid;
    grid-template-rows: 400px 400px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
    background-color: rgb(255, 102, 0);
    margin-top: 20em;
    height: 400px;
}

.p1 {
    color: white;
    font-size: 1.5em;
}

.flogo {
    margin-bottom: 2em;
}

.fg1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fg1 p {
    color: white;
    text-align: center;
}

.fg2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 1px gray solid;
    border-left: 1px gray solid;
}

.fg2 p {
    color: white;
    font-size: 1.5em;
    margin-bottom: 1em;
}

.fg2 div {
    display: flex;
    flex-direction: column;
}

.fg2 div a {
    margin-top: 1em;
    color: white;
}

.ico {
    color: white;
    font-size: 1.5em;
    margin-right: 1em;
}

.fg3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fg3 p {
    color: white;
    font-size: 1.5em;
    margin-bottom: 1em;
}

.fg3 div {
    display: flex;
    flex-direction: column;
    padding: 1em;
    background: white;
    border-radius: 5px;
}

.fg3 div a {
    margin-top: 1em;
    color: rgb(0, 0, 0);
}

.fg3 div a:hover {
    text-decoration: underline;
}

.ico2 {
    font-size: 1.5em;
    margin-right: 1em;
}


/* Modal  */

button {
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    font-size: inherit;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background: var(--black);
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: all 0.35s ease-in;
}

.modal-content {
    background: rgba(255, 255, 255, 0.844);
}

.modal.is-visible {
    visibility: visible;
    opacity: 1;
}

.modal-dialog {
    position: relative;
    max-width: 800px;
    max-height: 80vh;
    border-radius: 5px;
    background: var(--white);
    overflow: auto;
    cursor: default;
}

.modal-dialog>* {
    padding: 1rem;
}

.modal-header,
.modal-footer {
    background: var(--lightgray);
}

.modal-header {
    background-color: rgb(141, 218, 64);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal-header .close-modal {
    font-size: 1.5rem;
}

.modal p+p {
    margin-top: 1rem;
}

[data-animation] .modal-dialog {
    opacity: 0;
    transition: all 0.5s var(--bounceEasing);
}

[data-animation].is-visible .modal-dialog {
    opacity: 1;
    transition-delay: 0.2s;
}

[data-animation="slideInOutDown"] .modal-dialog {
    transform: translateY(100%);
}

[data-animation="slideInOutTop"] .modal-dialog {
    transform: translateY(-100%);
}

[data-animation="slideInOutLeft"] .modal-dialog {
    transform: translateX(-100%);
}

[data-animation="slideInOutRight"] .modal-dialog {
    transform: translateX(100%);
}

[data-animation="zoomInOut"] .modal-dialog {
    transform: scale(0.2);
}

[data-animation="rotateInOutDown"] .modal-dialog {
    transform-origin: top left;
    transform: rotate(-1turn);
}

[data-animation="mixInAnimations"].is-visible .modal-dialog {
    animation: mixInAnimations 2s 0.2s linear forwards;
}

[data-animation="slideInOutDown"].is-visible .modal-dialog,
[data-animation="slideInOutTop"].is-visible .modal-dialog,
[data-animation="slideInOutLeft"].is-visible .modal-dialog,
[data-animation="slideInOutRight"].is-visible .modal-dialog,
[data-animation="zoomInOut"].is-visible .modal-dialog,
[data-animation="rotateInOutDown"].is-visible .modal-dialog {
    transform: none;
}

@keyframes mixInAnimations {
    0% {
        transform: translateX(-100%);
    }
    10% {
        transform: translateX(0);
    }
    20% {
        transform: rotate(20deg);
    }
    30% {
        transform: rotate(-20deg);
    }
    40% {
        transform: rotate(15deg);
    }
    50% {
        transform: rotate(-15deg);
    }
    60% {
        transform: rotate(10deg);
    }
    70% {
        transform: rotate(-10deg);
    }
    80% {
        transform: rotate(5deg);
    }
    90% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}


/* Login */

#main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 100%;
}

.content1 {
    font-family: 'Roboto', sans-serif;
    width: 400px;
    height: 400px;
    color: white;
}

h1 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.content1 form .lb {
    display: block;
    text-align: left;
    margin-top: 2em;
    margin-left: 5%;
}

input[type="text"],
[type="password"] {
    outline: none;
    background: rgba(184, 184, 184, 0.8);
    padding: 0 10px 0 10px;
    display: block;
    margin: 0 auto;
    height: 40px;
    width: 90%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px rgb(255, 102, 0) solid;
}

input[type="submit"] {
    cursor: pointer;
    font-weight: bold;
    display: block;
    margin: 0 auto;
    margin-top: 2em;
    width: 90%;
    height: 40px;
    border: none;
    border-radius: 10px;
    background: rgb(39, 213, 39);
    color: white;
    font-size: 1em;
    transition: all 0.125s;
}

input[type="submit"]:hover {
    background: rgb(255, 102, 0);
    color: white;
}

.recuperar {
    text-align: center;
    display: block;
    font-size: 0.9em;
    margin: 0 auto;
    margin-top: 1em;
    color: rgb(46, 46, 46);
    transition: all 0.125s;
}

.reg {
    text-align: center;
    display: block;
    font-size: 0.9em;
    margin: 0 auto;
    margin-top: 3em;
    color: rgb(46, 46, 46);
    transition: all 0.125s;
}

.recuperar:hover,
.reg:hover {
    color: rgb(255, 102, 0);
}

@media only screen and (max-width:600px) {
    .content1 {
        width: 100%;
        height: 450px;
        margin: 0;
        border-radius: 0;
    }
    input[type="name"],
    [type="password"] {
        border-radius: 0;
        height: 50px;
        width: 85%;
    }
    input[type="submit"] {
        height: 50px;
    }
}


/* Scrollbar  */

*::-webkit-scrollbar {
    -webkit-appearance: none;
}

*::-webkit-scrollbar:vertical {
    width: 10px;
    background: rgba(0, 0, 0, 0.446);
}

*::-webkit-scrollbar-button:increment,
*::-webkit-scrollbar-button {
    background: rgba(0, 0, 0, 0.446);
    display: none;
}

*::-webkit-scrollbar:horizontal {
    height: 10px;
}

*::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 1px solid #f1f2f3;
}

*::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.446);
}