* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #000;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.topbar {
    width: 100%;
    height: 100px;
}

.toplogo {
    position: absolute;
    top: 1em;
    width: 300px;
}

#navbar {
    overflow: hidden;
    background-color: rgb(56, 56, 56);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    transition-property: opacity, left, top, height;
    transition-duration: 3s, 5s, 3s, 5s;
}

#navbar a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

#navbar a:hover {
    background-color: #ddd;
    color: black;
}

#navbar a.active {
    background-color: #666563;
    color: white;
    cursor: pointer;
}

#navbar a.active:hover {
    background-color: rgb(255, 102, 0);
}

.content {
    padding: 16px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 30;
}

.sticky+.content {
    padding-top: 60px;
}

.searchbar {
    position: absolute;
    top: 2em;
    right: 0.5em;
}

.searchbar input {
    width: 300px;
    height: 40px;
    outline: none;
    padding: 0 1em 0 1em;
    border: none;
    background: rgb(187, 187, 187);
    border-bottom: 2px rgb(255, 102, 0) solid;
}

.searchbar button {
    width: 40px;
    height: 40px;
    border: none;
    border-bottom: 2px rgb(255, 102, 0) solid;
}

.searchbar button:hover {
    background: rgb(255, 102, 0);
    color: white;
}


/* Modulo venta */

.mainvent {
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.vent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.divinput {
    width: 100%;
    border-bottom: 1px gray solid;
    margin-bottom: 2em;
}

.dl>div {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100px;
    background: rgba(255, 174, 0, 0.541);
    border-radius: 10px;
    margin-top: 2em;
    flex-wrap: row wrap;
}

.dl div div img {
    width: 100px;
}

.dl div div p {
    margin-right: 5em;
    text-align: center;
}

.divinput span {
    font-size: 10pt;
    margin-right: 1em;
}

.divinput input {
    outline: none;
    border: none;
    width: 500px;
    max-width: 500px;
}

.dr {
    width: 30%;
}

.dl {
    width: 100%;
    height: 390px;
    max-height: 390px;
    overflow: auto;
    border-left: 1px #666563 solid;
}


/* Cart table */

.carttitle {
    margin: 0em 0em 1em 0em;
    text-align: center;
    font-size: 1.5em;
    color: rgb(255, 102, 0);
}

#carttb {
    font-family: arial, sans-serif;
    width: 50%;
    border: 2px solid rgb(255, 102, 0);
    margin: 0 auto;
    border-radius: 10px 10px 10px 10px;
}

#carttb tr td,
#carttb tr th {
    text-align: left;
    padding: 8px;
}

.itemhead {
    background: rgb(116, 221, 137);
}

.th1 {
    border-radius: 10px 0px 0px 10px;
}

.th2 {
    border-radius: 0px 10px 10px 0px;
}


/* Modulo solicitar */

.solicit {
    margin: 1em 0em 1em 2em;
    font-size: 1.5em;
}

.contsol {
    margin-left: 3em;
}

.contsol div input {
    outline: none;
    background: rgba(197, 197, 197, 0.582);
    border: none;
    width: 500px;
    height: 50px;
    padding-left: 1em;
    font-size: 1em;
}

.last {
    display: flex;
    flex-direction: row;
}

.buy,
.del {
    display: flex;
    align-self: center;
    justify-self: center;
    text-align: center;
    line-height: 50px;
    width: 120px;
    border-radius: 5px;
    height: 50px;
    padding: 0em 1em 0em 1em;
    margin-left: 2em;
}

.buy {
    background: rgb(128, 194, 62);
}

.del {
    background: rgb(238, 95, 95);
}

.det {
    width: 500px;
}


/* Scrollbar  */

*::-webkit-scrollbar {
    -webkit-appearance: none;
}

*::-webkit-scrollbar:vertical {
    width: 10px;
}

*::-webkit-scrollbar-button:increment,
*::-webkit-scrollbar-button {
    display: none;
}

*::-webkit-scrollbar-thumb:active {
    background: rgb(145, 145, 145);
}

*::-webkit-scrollbar:horizontal {
    height: 10px;
}

*::-webkit-scrollbar-thumb {
    background-color: #bdbdbd;
    border-radius: 20px;
    border: 1px solid #f1f2f3;
}

*::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(191, 191, 191, 0.446);
}