<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Area de un triangulo</title>
</head>

<body>
    <h1>Calcularel Area de un Triángulo</h1>
    <form id="frm" action="/calcular" method="post">
        <div class="main">
            <div>
                <label for="b">Base</label>
                <input type="number" name="base" id="b">
                <label for="a">Altura</label>
                <input type="number" name="altura" id="a">
                <button type="submit">Calcular</button>
            </div>
        </div>
    </form>
</body>

</html>