<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%=titulo%>
    </title>
</head>

<body>
    <h1>Esta es mi pagina con EJS</h1>
    <h3>
        <%=nombre%>
    </h3>



    <ol>
        <%for (var i=0;i<datos.length;i++){%>
            <li>
                <%=datos[i].Paso %>
            </li>
            <%}%>
    </ol>
    <hr>

    <form action="/sumar" method="post">

        <input type="number" name="numero1" id="n1" placeholder="Digita el numero 1">
        <input type="number" name="numero2" id="n2" placeholder="Digita el numero 2">

        <button type="submit">Sumar</button>



    </form>


</body>

</html>