<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Agregar y eliminar registros de una base de Datos</title>
</head>

<body>



    <div id="nav">
        <a href="/">Home</a>
        <a href="/frmRegistro">Registrar Productos</a>
        <a href="/listarProductos">Ver Listado</a>
    </div>
    <h1 id="headtxt">Registrar Productos</h1>

    <div class="row">
        <div class="col-2">
            <nav>
                <ul>
                    <li class="registrar-usuario hover-overlay">
                        <a href="/regresar"><span>Regresar</span></a>
                    </li>

                </ul>
            </nav>
        </div>
    </div>
    <div id="main-cont" class="container-md">
        <div class="row">


            <form action="/registrarProducto" method="post" class="row g-3 needs-validation">
                <div class="col-md-8">
                    <label for="exampleInputEmail1" class="form-label">Nombre</label>
                    <input type="text" name="Nombre" class="form-control" id="exampleInput">

                </div>

                <div class="col-md-4">
                    <label for="validationCustomUsername" class="form-label">Cantidad</label>
                    <div class="input-group ">

                        <input type="number" name="Cantidad" class="form-control" id="exampleInput">
                        <span class="input-group-text" id="inputGroupPrepend">Unidades</span>

                    </div>
                </div>
                <div class="col-md-8">
                    <label for="exampleInputEmail1" class="form-label">Descripcion</label>
                    <input type="text" name="Descripcion" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

                </div>
                <div class="col-md-4">
                    <label class="form-label" for="inputGroupSelect01">Unidad Productiva</label>
                    <select class="form-select" name="UProductiva" id="inputGroupSelect01">
                        <option selected disabled value="">Selecciona...</option>
                        <option value="1">Agricola</option>
                        <option value="2">Agroindustria</option>
                        <option value="3">Gastronomía</option>
                        <option value="4">Pecuaria</option>
                        <option value="5">Escuela Nacional de la Calidad del Café</option>
                        <option value="6">Ambiental y Recursos Naturales</option>
                        <option value="7">Empresa de Servicios Publicos</option>
                        <option value="8">Moda, comercio y servicios.</option>
                    </select>

                </div>

                <div class="col-12">
                    <button class="btn btn-primary" type="submit">Registrar</button>
                </div>
            </form>




        </div>
    </div>

</body>