<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style_admin.css">
    <link rel="stylesheet" href="/icomoon/style.css">
    <title>HOME EJS</title>
</head>

<body>
    <div class="topbar"><img class="toplogo" src="/img/centro_user_custom.png" alt="">
        <div class="searchbar"><a href="/cerrarSesion">Cerrar Sesión <span class="icon-close"></span></a></div>
    </div>
    <div id="navbar">
        <a href="#">Home</a>
        <a href="/verProductos">Productos</a>
        <a href="javascript:void(0)">Acerca de</a>
        <a class="active">
            <%=usuario%>
        </a>

    </div>

    <div class="accesos">
        <a href="">
            <div><span class="ctrlico icon-users"></span></div>
            Administrar Usuarios
        </a>
        <a href="">
            <div><span class="ctrlico icon-box1"></span></div>
            Administrar Productos
        </a>
        <a href="">
            <div><span class="ctrlico icon-store-front"></span></div>
            Administrar Puntos de Venta
        </a>
        <a href="">
            <div><span class="ctrlico icon-user-check"></span></div>
            Administrar Clientes
        </a>
    </div>



</body>
<footer>

    <div class="footerbar">
        <div class="fg1"><img class="flogo" src="/img/logoSena2.png" alt="">
            <p class="p1">SERVICIO NACIONAL DE APRENDIZAJE
            </p><br>
            <p>Esta pagina web esta sujeta a derechos<br> de autor por parte de DavidLugo<br>krt847@gmail.com</p>
        </div>
        <div class="fg2">
            <p>ACCESOS RAPIDOS</p>
            <div><a href="javascript:void(0)"><span class="ico icon-home1"></span>Home</a>
                <a href="javascript:void(0)"><span class="ico icon-box1"></span>Productos</a>
                <a href="javascript:void(0)"><span class="ico icon-information-outline"></span>Acerca de</a>
                <a href="javascript:void(0)"><span class="ico icon-phone1"></span>Contacto</a>
                <a href="javascript:void(0)"><span class="ico icon-mail4"></span>PQRS</a></div>
        </div>
        <div class="fg3">
            <p>NUESTRAS REDES SOCIALES</p>
            <div><a href="javascript:void(0)"><span class="ico2 icon-facebook1"></span>Facebook</a>
                <a href="javascript:void(0)"><span class="ico2 icon-instagram1"></span>Instagram</a>
                <a href="javascript:void(0)"><span class="ico2 icon-linkedin1"></span>LinkedIn</a>
                <a href="javascript:void(0)"><span class="ico2 icon-discord"></span>Discord</a>
                <a href="javascript:void(0)"><span class="ico2 icon-whatsapp1"></span>+573102933525</a></div>
        </div>
    </div>



</footer>

</html>