<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home_style.css">
    <link rel="stylesheet" href="/icomoon/style.css">
    <title>HOME EJS</title>
</head>

<body>
    <div class="topbar"><img class="toplogo" src="/img/centro_user_custom.png" alt="">
        <div class="searchbar"><input type="text" placeholder="Buscar..."><button type="submit"><span class="icon-search"></span></button></div>
    </div>
    <div id="navbar">
        <a href="#">Home</a>
        <a href="/verProductos">Productos</a>
        <a href="javascript:void(0)">Acerca de</a>
        <a class="active">
            <%=usuario%>
        </a>

    </div>

    <div class="cont2">
        <div class="categoria">
            <a href="#">
                <div><img src="/img/stock.png" alt=""></div>
                <div>Frutas</div>
                <div class="btnbuy"><a class="buy" href="/comprar">Comprar</a></div>
            </a>
        </div>
        <div class="categoria">
            <a href="#">
                <div><img src="/img/stock.png" alt=""></div>
                <div>Verduras</div>
                <div class="btnbuy">
                    <a class="buy" href="#">Comprar</a>
                </div>
            </a>
        </div>
        <div class="categoria">
            <a href="#">
                <div><img src="/img/stock.png" alt=""></div>
                <div>Ropa</div>
                <div class="btnbuy"><a class="buy" href="#">Comprar</a></div>
            </a>
        </div>
        <div class="categoria">
            <a href="#">
                <div><img src="/img/stock.png" alt=""></div>
                <div>Comida</div>
                <div class="btnbuy"><a class="buy" href="#">Comprar</a></div>
            </a>
        </div>
        <div class="categoria">
            <a href="#">
                <div><img src="/img/stock.png" alt=""></div>
                <div>Frutas</div>
                <div class="btnbuy"><a class="buy" href="#">Comprar</a></div>
            </a>
        </div>
        <div class="categoria">
            <a href="#">
                <div><img src="/img/stock.png" alt=""></div>
                <div>Verduras</div>
                <div class="btnbuy"><a class="buy" href="#">Comprar</a></div>
            </a>
        </div>
        <div class="categoria">
            <a href="#">
                <div><img src="/img/stock.png" alt=""></div>
                <div>Ropa</div>
                <div class="btnbuy"><a class="buy" href="#">Comprar</a></div>
            </a>
        </div>
        <div class="categoria">
            <a href="#">
                <div><img src="/img/stock.png" alt=""></div>
                <div>Comida</div>
                <div class="btnbuy"><a class="buy" href="#">Comprar</a></div>
            </a>
        </div>


    </div>

    <div id="cont">
        <p>CATEGORIAS <span class="icon icon-cheveron-down"></span></p>
        <div class="leftside">
            <div>
                <div>
                    <a href="/verProductos">Frutas</a>
                </div>
            </div>
            <div>
                <div>
                    <a href="#">Verduras</a>
                </div>
            </div>
            <div>
                <div>
                    <a href="#">Lacteos</a>
                </div>
            </div>
            <div>
                <div>
                    <hr>
                    <a href="#"></a>
                </div>
            </div>
            <div>
                <div>
                    <a href="#">Carnes</a>
                </div>
            </div>
            <div>
                <div>
                    <a href="#">Huevos</a>
                </div>
            </div>
            <div>
                <div>
                    <a href="#">Ropa y Accesorios</a>
                </div>
            </div>
            <div>
                <div>
                    <a href="#">Comida y Bebidas</a>
                </div>
            </div>

        </div>

        <script src="/js/scroll.js"></script>
</body>

</html>