<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/vent_style.css">
    <link rel="stylesheet" href="/icomoon/style.css">
    <title>HOME EJS</title>
</head>

<body>
    <div class="topbar"><img class="toplogo" src="/img/centro_user_custom.png" alt="">
        <div class="searchbar"><input type="text" placeholder="Buscar..."><button type="submit"><span class="icon-search"></span></button></div>
    </div>
    <div id="navbar">
        <a href="#">Home</a>
        <a href="javascript:void(0)">Productos</a>
        <a href="javascript:void(0)">Acerca de</a>
        <a class="active">
            DavidLugo
        </a>

    </div>
    <h1>Comprar Productos</h1>
    <div class="mainvent">
        <div class="vent">
            <div class="divinput"><span class="icon-search
              "></span><input id="producto" type="text" placeholder="Buscar productos..."></div>
            <div>Productos disponibles</div>
            <div class="dl">
                <div>
                    <div><img src="/img/stock.png" alt="imagenstock"></div>
                    <div>
                        <p>Frutas Frescas</p><br>
                        <p>Fresas Producidas por la <br>Unidad Productiva Agricultura.
                        </p>
                    </div>
                    <div>
                        <p>$2.000 C/U</p>
                    </div>
                    <div><a href="#">Agregar al Carrito<span class="icon-add-outline"></span></a></div>
                </div>
                <div>
                    <div><img src="/img/stock.png" alt="imagenstock"></div>
                    <div>
                        <p>Frutas Frescas</p><br>
                        <p>Fresas Producidas por la <br>Unidad Productiva Agricultura.
                        </p>
                    </div>
                    <div>
                        <p>$2.000 C/U</p>
                    </div>
                    <div><a href="#">Agregar al Carrito<span class="icon-add-outline"></span></a></div>
                </div>
                <div>
                    <div><img src="/img/stock.png" alt="imagenstock"></div>
                    <div>
                        <p>Frutas Frescas</p><br>
                        <p>Fresas Producidas por la <br>Unidad Productiva Agricultura.
                        </p>
                    </div>
                    <div>
                        <p>$2.000 C/U</p>
                    </div>
                    <div><a href="#">Agregar al Carrito<span class="icon-add-outline"></span></a></div>
                </div>
                <div>
                    <div><img src="/img/stock.png" alt="imagenstock"></div>
                    <div>
                        <p>Frutas Frescas</p><br>
                        <p>Fresas Producidas por la <br>Unidad Productiva Agricultura.
                        </p>
                    </div>
                    <div>
                        <p>$2.000 C/U</p>
                    </div>
                    <div><a href="#">Agregar al Carrito<span class="icon-add-outline"></span></a></div>
                </div>
                <div>
                    <div><img src="/img/stock.png" alt="imagenstock"></div>
                    <div>
                        <p>Frutas Frescas</p><br>
                        <p>Fresas Producidas por la <br>Unidad Productiva Agricultura.
                        </p>
                    </div>
                    <div>
                        <p>$2.000 C/U</p>
                    </div>
                    <div><a href="#">Agregar al Carrito<span class="icon-add-outline"></span></a></div>
                </div>
                <div>
                    <div><img src="/img/stock.png" alt="imagenstock"></div>
                    <div>
                        <p>Frutas Frescas</p><br>
                        <p>Fresas Producidas por la <br>Unidad Productiva Agricultura.
                        </p>
                    </div>
                    <div>
                        <p>$2.000 C/U</p>
                    </div>
                    <div><a href="#">Agregar al Carrito<span class="icon-add-outline"></span></a></div>
                </div>
                <div>
                    <div><img src="/img/stock.png" alt="imagenstock"></div>
                    <div>
                        <p>Frutas Frescas</p><br>
                        <p>Fresas Producidas por la <br>Unidad Productiva Agricultura.
                        </p>
                    </div>
                    <div>
                        <p>$2.000 C/U</p>
                    </div>
                    <div><a href="#">Agregar al Carrito<span class="icon-add-outline"></span></a></div>
                </div>
                <div>
                    <div><img src="/img/stock.png" alt="imagenstock"></div>
                    <div>
                        <p>Frutas Frescas</p><br>
                        <p>Fresas Producidas por la <br>Unidad Productiva Agricultura.
                        </p>
                    </div>
                    <div>
                        <p>$2.000 C/U</p>
                    </div>
                    <div><a href="#">Agregar al Carrito<span class="icon-add-outline"></span></a></div>
                </div>
            </div>
        </div>
        <div class="dr">
            <div class="carttitle">Carrito de Compras</div>
            <table id="carttb">

                <tr class="itemhead">
                    <th class="th1">No.</th>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>P. Unitario</th>
                    <th class="th2">P. Total</th>
                </tr>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Fresa x Libra</td>
                        <td>2</td>
                        <td>$2000</td>
                        <td>$4000</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Fresa x Libra</td>
                        <td>2</td>
                        <td>$2000</td>
                        <td>$4000</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Fresa x Libra</td>
                        <td>2</td>
                        <td>$2000</td>
                        <td>$4000</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Fresa x Libra</td>
                        <td>2</td>
                        <td>$2000</td>
                        <td>$4000</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Fresa x Libra</td>
                        <td>2</td>
                        <td>$2000</td>
                        <td>$4000</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Fresa x Libra</td>
                        <td>2</td>
                        <td>$2000</td>
                        <td>$4000</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Fresa x Libra</td>
                        <td>2</td>
                        <td>$2000</td>
                        <td>$4000</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Fresa x Libra</td>
                        <td>2</td>
                        <td>$2000</td>
                        <td>$4000</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Fresa x Libra</td>
                        <td>2</td>
                        <td>$2000</td>
                        <td>$4000</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Fresa x Libra</td>
                        <td>2</td>
                        <td>$2000</td>
                        <td>$4000</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Fresa x Libra</td>
                        <td>2</td>
                        <td>$2000</td>
                        <td>$4000</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Fresa x Libra</td>
                        <td>2</td>
                        <td>$2000</td>
                        <td>$4000</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Fresa x Libra</td>
                        <td>2</td>
                        <td>$2000</td>
                        <td>$4000</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Fresa x Libra</td>
                        <td>2</td>
                        <td>$2000</td>
                        <td>$4000</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="solicit">Solicitar Productos</div>
    <div class="contsol">
        <label for="dir">Direccion de Domicilio</label>
        <div><input id="dir" type="text" placeholder="Ej: Cra 4 #2-43"></div>
        <label for="barrio">Barrio o Sector</label>
        <div><input type="text" name="" id="barrio"></div>
        <label for="detalleprod">Detalles</label>
        <div class="last"><textarea class="det" name="detalles" id="detalleprod" cols="30" rows="10">Ej: Al frente de...</textarea>
            <a class="buy" href="">
                <div>Comprar <span class="icon-shopping-cart"></span></div>
            </a>
            <a class="del" href="">
                <div>Cancelar <span class="icon-close-outline"></span></div>
            </a>
        </div>

    </div>





    <script src="/js/scroll.js"></script>
</body>

</html>